
// Colours
// $primary: #fff;

// For reflex grid so that we can ensure that the namespace doesn't class
// with the GeneratePress grid. So classes now become rf-col-md-8 and rf-grid
$reflex-prefix  : rf- !default;

// Use maximum width of 1280px not default 1600px;
$reflex-xlg  : 1280px !default;

$reflex-grid-spacing: 8px !default;

%primary-font {
	font-family: "Roboto", "Poppins", sans-serif;
}